.contentWrapper {
    backround: lightgreen;
    text-align: center;
    border: 1px solid lightgray;
}
.title {
    color: blue;
    font-size: 18px;
}
.item {
    color: red;
    font-size: 14px;
}
.maizuo {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    padding: 0;
    width: 100%;
}
ul li {
    flex: 1;
    text-align: center;
}
.active {
    color: white;
    background: lightskyblue;
}
